*{
    font-style: italic;
    /* text-decoration:line-through; */
    /* text-transform: uppercase; */
    line-height:26px;
    /* word-spacing: 60px; */
    /* letter-spacing: 60px; */
    /* text-align: center; */
    /* text-align: justify; */
    /* vertical-align: ; */
    /* text-indent: 60px; */
    
}
p{
    font-weight: 600;
    text-indent: 60px

}
/* p::first-line{
    color: red;
} */

.text{
    text-indent: 60px
}
h1{
    font-weight: bolder;
    text-shadow: 1px 1px 1px  red;

}
h1::first-letter{
    color: green;
    font-style: 20px;
}
a{
    color: green;
}

a:visited{
    color: red;
}

button:active{
    color: red;
}
p.dog{
    color:blue;
}
